.bg-red-pastel {
  background-color: rgb(255, 210, 210) !important;
  color: rgb(255, 210, 210) !important;
}

.bg-grey-pastel {
  background-color: rgb(225, 225, 225) !important;
  color: rgb(225, 225, 225) !important;
}

.bg-green-pastel {
  background-color: rgb(210, 255, 210) !important;
  color: rgb(210, 255, 210) !important;
}

.h-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

th a {
  display: flex;
  align-items: center;
  justify-content: start;
}

th i {
  margin-left: 5px;
}

th {
  vertical-align: middle !important;
  text-align: start;
  padding: 10px;
}

.error-msg {
  color: #656565;
}

.error-code {
  color: #656565;
}

.error-stack {
  background-color: #ffbfc2;
  padding: 1rem;
  border-radius: 10px;
}